@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Work Sans", sans-serif;
}

.header {
    text-align: center;
}

.avatar {
    width: 300px;
}

.header__title {
    font-size: 28px;
}

.header__subtitle {
    color: rgba(45, 133, 171);
}

main {
    border: 1px solid darkgrey;
    text-align: center;
}

.skills ol {
   list-style: none;
}

.separator {
    width: 50%;
    height: 3px;
    background-color: #a4cdf2;
}

.video {
    width: 800px;
    height: 490px;
    border: none;
}

.ed__table {
    border-collapse: collapse;
    width: 100%;
}

.ed__table th, .ed__table td {
    border: 1px solid #000000;
    padding: 10px;
}

.quote {
    font-size: 32px;
}

.form {
    width: 600px;
    margin: 0 auto;
}

.form__control {
    width: 100%;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

.control--text {
    width: 70%;
}

footer {
    height: 100px;
    text-align: center;
    background-color: #f1f1f1;
}

.contacts__link {
    text-decoration: none;
    color: #000000;
}
